
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>





<div class="jumbotron jumbotron-fluid" style="width: 100%;margin-bottom: 0px; background-color: tomato;">

</div>
<div class="main">

<div class="column">
<div class="row">
 <div style="float:left ; margin-left: 10%; margin-top: 3%;margin-bottom: 7%;  width: 45%;">

     <b style="margin-left:11%; font-size: 50px;">Connect with us</b>
     <br>
     <br>
     <br>
     <br>
  <mat-card>
    <div >
        <mat-form-field class="full-width">
          <mat-label style="font-size: 18px;">Full Name</mat-label>
          <input matInput placeholder="" >
        </mat-form-field>
      <br>
      <br>
      <br>
        <mat-form-field class="full-width">
          <mat-label style="font-size: 18px;">Email Address</mat-label>
          <input matInput placeholder="">
        </mat-form-field>
        <br>
        <br>
        <br>
        <mat-form-field class="full-width">
          <mat-label style="font-size: 18px;">Contact</mat-label>
          <input matInput placeholder="">
        </mat-form-field>
        <br>
        <br>
        <br>
        <mat-form-field class="full-width">
          <mat-label style="font-size: 18px;">Message</mat-label>
          <input matInput placeholder="">
        </mat-form-field>
        </div> 
    </mat-card>
    <br>
    <button type="button" class="btn btn-info" style="margin-left: 3%; border-radius: 30px; padding: 10px 30px;">Submit</button>
    <br>
    <br>
 </div>



 <div style="float:right; margin-top: 3%; width: 45%; font-size: 30px; margin-bottom: 7%;">
    <b style="font-size: 50px; margin-left: 15%;">Get in touch</b>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>For any queries , questions or doubts:</p>
    <br>
    <p>Email us at <a href="mailto:support@comunev.com">support@comunev.com</a></p>
    <br>
    <br>
    <p>If it is urgent, here's our contact:</p>
    <br>
    <p>8595473072</p>
    <br>
    <br>
    <p>Social Media : </p>
    <br>
    <div class="row" style="justify-content:space-between; margin-right: 80%; margin-left: 1%;" >
    <p class="onclick"><a href="https://www.facebook.com/comunev"><img src="assets/facebook-big.png"></a></p>
    <p class="onclick"><a href="https://www.instagram.com/comunevindia"><img src="assets/instagram-big.png"></a></p>
    <p class="onclick"><a href="https://twitter.com/comunevindia"><img  src="assets/twitter-big.png"></a></p>
    <p class="onclick"><a href="https://www.linkedin.com/company/comunev"><img  src="assets/linkedin-icon.png"></a></p>
    </div>

<br>
<br>
    <p>We are also available on Whatsapp :</p>
    <br>
    <button type="button" onclick="location.href = 'https://wa.me/918595473072'" class="btn btn-success">MESSAGE</button>
</div>
</div>
</div>
</div>

<footer style="height: 300px; width: 100%; background-color: rgba(245, 242, 94, 0.911); ">

</footer>