<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>





<div class="jumbotron jumbotron-fluid" style=" margin-bottom: 0px; background-color: tomato;">

</div>
<div class="main">

<div class="column" style="justify-content: space-between; margin-top:5%;">
<div class="row" style="justify-content: space-between;" >
    <div class="change"  style="  margin-left: 10%; height: 500px; background-image: url('assets/background-partner.svg');">
    <div  style=" width: 510px; text-align:center; float:left;  font-size: 30px; margin-bottom: 7%; ">
<br>
<br>
       <b style="font-size: 50px;">Partner With Us</b>
       <br>
       <br>
       <br>
       <br>
       <p>We don't just do our own </p>
       <p>events only but we also</p>
       <p>collaborate with other event</p>
       <p>organizers as partners .</p>
       <br>
       <br>
       <p>If you would like to have us as</p>
       <p>your event partner or would</p>
       <p>like to become a partner for</p>
       <p>any of our events , then fill this</p>
       <p>form right here -</p>
 </div>
  
    </div>
    




    <div style="float:right; margin-left:5%; margin-bottom: 7%;  width: 45%;">
    
  <mat-card>
    <div >
        <mat-form-field class="full-width">
          <mat-label style="font-size: 18px;word-spacing: 5px;">Full  Name</mat-label>
          <input matInput placeholder="" >
        </mat-form-field>
      <br>
      <br>
      <br>
        <mat-form-field class="full-width">
          <mat-label style="font-size: 18px; word-spacing: 5px;">Email Address</mat-label>
          <input matInput placeholder="">
        </mat-form-field>
        <br>
        <br>
        <br>
        <mat-form-field class="full-width">
          <mat-label style="font-size: 18px;">Contact</mat-label>
          <input matInput placeholder="">
        </mat-form-field>
        <br>
        <br>
        <br>
        <mat-form-field class="full-width">
          <mat-label style="font-size: 18px; word-spacing: 5px;">Message</mat-label>
          <input matInput placeholder="">
        </mat-form-field>
        </div> 
    </mat-card>
    <br>
    <button type="button" class="btn btn-info" style="margin-left: 3%; border-radius: 30px; padding: 10px 30px;">Submit</button>
   
 </div>


</div>
</div>
 

<footer style="height: 300px; width: 100%; background-color: rgba(245, 242, 94, 0.911); ">

</footer>
