
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>





<div class="jumbotron jumbotron-fluid" style="width: 100%;margin-bottom: 0px; background-color: tomato;">

</div>
<div class="main">

<div class="column">
<div class="row">
    <div style="float:left ; margin-left: 5%; margin-top: 3%; height: 400px; width: 45%;">

        <b style="font-size: 25px;">Who we are ?</b>
        <p style="font-size: 20px;">Lorem ipsum dolor sit amet, consectetuer adipiscing 
            elit. Aenean commodo ligula eget dolor. Aenean massa 
           strong. Cum sociis natoque penatibus 
            et magnis dis parturient montes .</p>
            <br>
            <br>


        <b style="font-size: 25px;">What we do ?</b>
        <p style="font-size: 20px;">Lorem ipsum dolor sit amet, consectetuer adipiscing 
            elit. Aenean commodo ligula eget dolor. Aenean massa 
           strong. Cum sociis natoque penatibus 
            et magnis dis parturient montes .</p>

            <br>
            <br>

        <b style="font-size: 25px;">Why you should care ?</b>
        <p style="font-size: 20px;">Lorem ipsum dolor sit amet, consectetuer adipiscing 
            elit. Aenean commodo ligula eget dolor. Aenean massa 
           strong. Cum sociis natoque penatibus 
            et magnis dis parturient montes .</p>
    </div>



    <div style="float:right; margin-right:5%; margin-top: 1%; border: 1px solid black;  height: 400px; width: 45%;">
        <img  height= 100%; width= 100%; src="https://www.ucb.ac.uk/content/images/courses/hospitality-tourism-events/events-management-3.jpg">
    </div>
</div>
</div>





<div class="column">
    <div>

        <p style=" padding: 5%;  text-align: center; margin-right: 3%;"><b style="border-bottom: 2px solid red; font-size: 45px; padding-bottom: 1%;">Our Team</b></p>
        
    </div>
</div>






<div class="container" style=" justify-content: space-between;">
    <div class="col-md-3">
    <div class="circle first">
    
      
    </div>
    <div class="column" style="text-align: center; font-size: 18px; padding-right: 15%;">
        <p style="padding-top: 30px; font-size: 25px;"><b>Name</b></p>
        <p >Designaton</p>
        <p>Aenean commodo ligula eget dolor. Aenean massa strong.</p>
    </div>    
    </div>




    <div class="col-md-3">
    <div class="circle second">
      
    </div>
    <div class="column" style="text-align: center; font-size: 18px; padding-right: 15%;">
        <p style="padding-top: 30px; font-size: 25px;"><b>Name</b></p>
        <p >Designaton</p>
        <p>Aenean commodo ligula eget dolor. Aenean massa strong.</p>
    </div>    
    </div>





<div class="col-md-3">
    <div class="circle third">
    
    </div>
    <div class="column" style="text-align: center; font-size: 18px;padding-right: 15%;">
        <p style="padding-top: 30px; font-size: 25px;"><b>Name</b></p>
        <p >Designaton</p>
        <p>Aenean commodo ligula eget dolor. Aenean massa strong.</p>
    </div>     
  </div> 
</div>  



  <div class="container" style="justify-content: space-between; margin-top: 8%; margin-bottom: 10%; ">
    <div class="col-md-3">
    <div class="circle forth">
     
    </div>
    <div class="column" style="text-align: center; font-size: 18px; padding-right: 15%;">
        <p style="padding-top: 30px; font-size: 25px; "><b >Name</b></p>
        <p >Designaton</p>
        <p>Aenean commodo ligula eget dolor. Aenean massa strong. </p>
    </div>  
    </div>





<div class="col-md-3">
    <div class="circle fifth">
      
    </div>
    <div class="column" style="text-align: center; font-size: 18px; padding-right: 15%;">
        <p style="padding-top: 30px; font-size: 25px;"><b>Name</b></p>
        <p >Designaton</p>
        <p>Aenean commodo ligula eget dolor. Aenean massa strong.</p>
    </div>   
</div>



<div class="col-md-3">
    <div class="circle sixth">
      
    </div>
    <div class="column" style="text-align: center; font-size: 18px; padding-right: 15%;">
        <p style="padding-top: 30px; font-size: 25px;"><b>Name</b></p>
        <p >Designaton</p>
        <p>Aenean commodo ligula eget dolor. Aenean massa strong. </p>
    </div>  
  </div>  
</div>
</div>

<footer style="height: 300px; width: 100%; background-color: rgba(245, 242, 94, 0.911); ">

</footer>