<html lang="en">
<head ng-app="first-page">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>COMMUNEV</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  
</head>
<body ng-controller="first-page">
  <div class="container bg-color " style="margin-top: 0.2%;">
    <div class="topnav">
      <a class="navbar-brand " href="#"><i class="fa fa-diamond" aria-hidden="true" style="color: white;"></i></a>
      
      <div class="topnav-right">
        <a href="" style="margin-right: 10px;">About us<i class="flaticon-airplane49"></i></a>
        <a href="" style="margin-right: 10px;">Events</a>
        <a href="" style="margin-right: 10px;">Interests</a>
        <a href="" style="margin-right: 10px;">Sign up</a>
      </div>
    </div>
  <div >
  <p class="introduction" style="padding-top: 8%; font-size: 40px;">Lorem ipsum dolor sit amet. </p>
  <p class="introduction">sed do eiusmod tempor incididunt ut labore . </p>
  
  </div>
  <div class=" button-wrapper">
    <a class="button cta-button" href="#" style="font-size: 15px;margin-bottom:45px;">Sign Up</a>
  </div>

  <div style="width:100%;text-align:center;">
    <a href=""  style="font-size: 40px; "><b>Our Events</b></a>
  </div>
  
  <div class="row " style="justify-content: center; justify-content: space-between; justify-content: space-around;">

  <div  onclick="location.href='#'" class="box">
    <img  style="padding: 5%;" height="50%" width="100%" src = "https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072823__340.jpg">
  
  <div class="column">
    
      <p class="events"><b>EVENT 1</b></p>
      <p class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
      <p class="description">Morbi in sem quis dui placerat ornare.</p>
  </div>
  </div>
  <div  onclick="location.href='#'" class="box">
    <img  style="padding: 5%;" height="50%" width="100%" src = "https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg">
  
  <div class="column">
    
      <p class="events"><b>EVENT 2</b></p>
      <p class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
      <p class="description">Morbi in sem quis dui placerat ornare.</p>
  </div>
  </div>
  <div  onclick="location.href='#'" class="box">
    <img  style="padding: 5%; " height="50%" width="100%" src = "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ3B0fwjxfBhQEOJML57RE81JJifDQTmGAzdjl8p8mlExH721nR&usqp=CAU">
  
  <div class="column">
    
      <p class="events"><b>EVENT 3</b></p>
      <p class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
      <p class="description">Morbi in sem quis dui placerat ornare. </p>
  </div>
  </div>
  </div>
  

  <div style="width:100%; text-align:center" class="more">
    <a href="" >MORE</a>
  </div>
  
  <div class="bg-color2">
  <p class="introduction-two" style="padding-top: 15px; color: white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo. </p>
  <p class="introduction-three" style="padding-top: 10px; padding-bottom: 15px; color: white;"> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  
  </div>
  <p class="features"><b>Upcoming features</b></p>

  <div class="row">
  <span class="arrange"><i class="fa fa-snowflake-o" aria-hidden="true" style="font-size:60px; margin-left: 10%; padding-bottom: 2%; color:darkslategrey;"></i>
    <br />
    <b>COMMUNITIES</b>
    <br />
    <p>loreal ipsum</p>
  </span>
  <span class="arrange"><i class="fa fa-comments-o" style="font-size:60px;color:black;"></i>
    <br />
    <b>CHAT</b>
    <br />
    <p>loreal ipsum</p>
  </span>
  <span class="arrange"><i class="fa fa-meetup" aria-hidden="true" style="font-size:60px;color:#2f4454;"></i>

    <br />
    <b>MATCH MAKING</b>
    <br />
    <p>loreal ipsum</p>
  </span>
  </div>
  <div class="row">
    <span style="margin-left: 35%; margin-top: 5%; margin-bottom: 20%;"><img style="font-size:60px;" src="assets/interface.png"/>

      <br />
      <b >Friend Request</b>
      <br />
      <p>Loreal Ipsum</p>
    </span>
    <span style="margin-left: 20%; margin-top: 5%;"><i class="fa fa-address-book" aria-hidden="true" style="font-size:60px;color:black;"></i>

      <br />
      <b>Friend Requests</b>
      <br />
      <p>Loreal Ipsum</p>
    </span>
    
    </div>
    <footer id="footer"  id="footer" class="row">

      <!-- Footer Links -->
      <div class="container text-center text-md-left">
    
        <!-- Grid row -->
        <div class="row">
          <hr class="clearfix w-100 d-md-none">        
          <hr class="clearfix w-100 d-md-none">    
          <!-- Grid column -->
          <div class="col-md-2 mx-auto">
    
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>
    
            <ul class="list-unstyled">
              <li>
                <p>Become a speaker</p>
              </li>
              <li>
                <p>Be a Venue partner</p>
              </li>
              <li>
                <p>Volunteer with us</p>
              </li>
              <li>
                <p>Sponser Us</p>
              </li>
              <li>
                <p>Partner with us</p>
              </li>
            </ul>
    
          </div>
          <!-- Grid column -->    
          <hr class="clearfix w-100 d-md-none">   
          <!-- Grid column -->
          <div class="col-md-2 mx-auto">   
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>  
            <ul class="list-unstyled">
              <li>
                <a href=""> <p ><b>ABOUT US</b></p></a>
              </li>
              <li>
                <a href=""><p ><b>EVENTS</b></p></a>
              </li>
              <li>
                <a href=""><p><b>COMMUNITIES</b></p></a>
              </li>
              <li>
                <a href=""><p><b>INTERESTS</b></p></a>
              </li>
            </ul>    
          </div>
          <!-- Grid column -->  
           <!-- Grid column -->
           <div class="col-md-2 mx-auto">    
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>
    
            <ul class="list-unstyled">
              <li>
              
                <p style="padding-right:0.2em; float: left;" ><i class="fa fa-facebook-square" aria-hidden="true" style="font-size:25px; "></i></p>
                <p style="padding-right:0.2em; float: left;"><i class="fa fa-instagram" aria-hidden="true" style="font-size:25px; "></i></p>
                <p style="padding-right:0.2em; float: left;"><i class="fa fa-twitter-square" aria-hidden="true" style="font-size:25px; "></i></p>
              </li>
              <li>
                <div style="margin-right:40px;"><p><a href="mailto:contact@comunev.com">contact@comunev.com</a></p></div>
              </li>
              
            </ul>
    
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->   
      </div>
      <!-- Footer Links -->  
    
    </footer>
    <!-- Footer -->
   
  
  </div>     
  
</body>
</html>