<div id="conatiner">
    <div id="particles-js">
    </div>
    <div id="over">
      <h1 class="header">Comunev</h1>
    <mat-card>
       <section class="center">
          <h1>Sign up</h1>
        <mat-form-field class="col-12">
           
            <input matInput placeholder="Firstname" value="">
         </mat-form-field>
         <br>
         <mat-form-field class="col-12">
            <input matInput placeholder="lastname" value="">
         </mat-form-field>
         <br>
         <mat-form-field class="col-12">
           
            <input matInput placeholder="email" value="">
         </mat-form-field>
         <br>
         <mat-form-field class="col-12">
           
            <input type="password"  matInput placeholder="Password" value="">
         </mat-form-field>
         <br>
         <mat-form-field class="col-12">
           
            <input type="password" matInput placeholder="Retype" value="">
         </mat-form-field>
         <br>
         <button class="color" mat-raised-button color="primary">Sign up</button>
         </section>
    </mat-card>
    </div>
    </div>
    
    
