
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>




 <div class="scroll-container">

<div >

     
     <div > 		
		  
<div style="display: flex; justify-content:center; justify-content:space-around; margin-top: 7%;" >
        
    <div class="col-md-3"> 

        <div  onclick="location.href='#'" class="box">
			<img  style="padding: 5%;" height="50%" width="100%" src = "https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072823__340.jpg">
		  
		  <div class="column" >
			
			  <p class="events"><b>EVENT 1</b></p>
        <p class="description">Date : 20/08/12  ;  Time : 2:30pm</p>
        <p style="text-align: center;">Event Summary here ...</p>
        <div style="width: 100%; text-align: center;">
          <button type="button" class="btn btn-success">Register</button>
  </div>
		  </div>
		  </div>
    </div>
    <div class="col-md-3"> 
        <div  onclick="location.href='#'" class="box">
			<img  style="padding: 5%;" height="50%" width="100%" src = "https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg">
		  
		  <div class="column">
			
			  <p class="events"><b>EVENT 1</b></p>
        <p class="description">Date : 19/05/16  ;  Time : 5:30pm</p>
        <p style="text-align: center;" >Event Summary here ...</p>
<div style="width: 100%; text-align: center;">
        <button type="button" class="btn btn-success">Register</button>
</div>
		  </div>
		  </div>
    </div>
    <div class="col-md-3">
        <div  onclick="location.href='#'" class="box">
			<img  style="padding: 5%; " height="50%" width="100%" src = "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ3B0fwjxfBhQEOJML57RE81JJifDQTmGAzdjl8p8mlExH721nR&usqp=CAU">
		  
		  <div class="column">
			
        <p class="events"><b>EVENT 1</b></p>
        <p class="description">Date : 19/06/04 ;  Time : 6:00pm</p>
        <p style="text-align: center;">Event Summary here ...</p>

        <div style="width: 100%; text-align: center;">
          <button type="button" class="btn btn-success">Register</button>
  </div>
		  </div>
		  </div>
    </div>	  
        </div>
      </div>
    </div>




    <!-- SECTION 2 -->

      <div>
      
            
           <div> 
            
            
      <div style="display: flex; justify-content:center; justify-content:space-around; margin-top: 7%; " >
              
          <div class="col-md-3"> 
      
              <div  onclick="location.href='#'" class="box">
            <img  style="padding: 5%;" height="50%" width="100%" src = "https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072823__340.jpg">
            
            <div class="column">
            
              <p class="events"><b>EVENT 1</b></p>
        <p class="description">Date : 20/04/06  ;  Time : 2:00pm</p>
        <p style="text-align: center;">Event Summary here ...</p>

        <div style="width: 100%; text-align: center;">
          <button type="button" class="btn btn-success">Register</button>
  </div>
            </div>
            </div>
          </div>
          <div class="col-md-3"> 
              <div  onclick="location.href='#'" class="box">
            <img  style="padding: 5%;" height="50%" width="100%" src = "https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg">
            
            <div class="column">
            
              <p class="events"><b>EVENT 1</b></p>
        <p class="description">Date : 20/02/22 ;  Time : 1:00pm</p>
        <p style="text-align: center;" >Event Summary here ...</p>

        <div style="width: 100%; text-align: center;">
          <button type="button" class="btn btn-success">Register</button>
  </div>
            </div>
            </div>
          </div>
          <div class="col-md-3">
              <div  onclick="location.href='#'" class="box">
            <img  style="padding: 5%; " height="50%" width="100%" src = "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ3B0fwjxfBhQEOJML57RE81JJifDQTmGAzdjl8p8mlExH721nR&usqp=CAU">
            
            <div class="column">
            
              <p class="events"><b>EVENT 1</b></p>
        <p class="description">Date : 20/12/20  ;  Time : 11:00am</p>
        <p style="text-align: center;">Event Summary here ...</p>

        <div style="width: 100%; text-align: center;">
          <button type="button" class="btn btn-success">Register</button>
  </div>            </div>          
            </div>
           
          </div>	  
          
              </div>
              <div class="column" style="margin-bottom: -4rem; ">
              <footer style="background-color: rgba(0,0,0,0.2); height:150px ; margin-bottom:5%; margin-top: 10%;">
                <P class="hoverevent" style="padding-top: 2%;" ><b>"Events Section"</b></P>
                <P class="hoverevent"><b>Comunev</b></P>
                </footer>
                </div>
            </div>
          </div>
      


        </div>

