body {
    background-color:#51d0de ;
    overflow-x: hidden;
    opacity: 1;
    overflow: hidden;
}

*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;

}

.box {
  width: 55vh;
  height: 55vh;
  border: 1px solid rgb(216, 216, 223);
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  margin-top: 4.5%;
  margin-bottom: 5%;
  background-color: white;
}

.events {
    padding-top: 0px;
  text-align: center;
  font-size: 25px;
  padding-bottom: 2%;
}


.description {
  text-align: center;
}

.size {
    font-size: 30px;
    padding-top: 8% ;
    

}

#footer {
height: 200px;
width: 100%;
display: block;
padding: 30px;
color: #51d0de;
background-color: rgba(0,0,0,0.2);
}


footer p {
  text-align: center;
  
}


button {
    text-align: center;
    margin-top: 8%;
    padding: 1%;
    background-color: rgb(159, 230, 141);
    color: teal;
    font-size: 1.3rem;
}

.hoverevent {
  font-size: 20px;
  color: black;
  transition: transform 4s;

}

.hoverevent:hover {
  transform: scale(1.2s);
  color: #51d0de;

}

.fontsize {
  font-size: 35px;
  color: white;

}